.features {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }

  &__list {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      justify-content: center;

      flex-wrap: wrap;
      margin-bottom: -30px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__item {
    @media screen and (max-width: 767px) {
      max-width: 450px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      // width: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 2 * 30px) / 2);
      min-width: 354px;

      margin-right: 30px;
      margin-bottom: 30px;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    background-color: var(--bcg-second-section-color);
    border-radius: 4px;
  }
  &__title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    margin-top: 30px;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: unset;
    }
  }
  &__text {
    margin-top: 10px;
  }
}
