.portfolio-cards {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 30px;

      &:nth-child(2n) {
        margin-right: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 2 * 30px) / 3);
      margin-right: 30px;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }
    transition: box-shadow 250ms var(--transition-timing-function);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__link {
    color: var(--primary-text-color);

    transition: color 250ms var(--transition-timing-function);
    &:hover,
    &:focus,
    &:active {
      color: var(--accent-color);
    }
  }
}

.portfolio-cards__link {
  &:hover .portfolio-cards__overlay,
  &:focus .portfolio-cards__overlay,
  &:active .portfolio-cards__overlay {
    transform: translateY(0);

    background-color: rgba(33, 150, 243, 0.9);
  }
}

.portfolio-cards__title_name {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin: 0 0 4px;
}
.portfolio-cards {
  &__text {
    font-size: 16px;
    line-height: 1.87;
  }

  &__image {
    position: relative;
    overflow: hidden;
  }
}

.portfolio-cards__overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateY(101%);

  transition: transform 250ms var(--transition-timing-function),
    background-color 250ms var(--transition-timing-function);

  &_text {
    font-size: 18px;
    line-height: 1.55;
    color: #ffffff;
    padding: 77px 24px;

    @media screen and (min-width: 1200px) {
      padding: 63px 24px;
    }
  }
}

.portfolio-cards__box_border {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;

  padding: 20px 24px;
}
