.subcribe-box {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: unset;

    margin-top: 12px;
    margin-left: auto;
  }
  &__text {
    display: block;

    color: #ffffff;
    font-weight: 700;
    line-height: 1.14;

    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      text-align: start;
    }
  }
}

.subcribe-form {
  margin-top: 20px;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    height: 50px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 450px;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
    }

    color: #ffffff;
    font-size: 16px;
    line-height: 1.25;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    margin: 0 12px 0 0;
    padding: 0 16px 0 16px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    background-color: var(--bcg-section-color);

    &:focus {
      outline: 2px solid var(--accent-color);
    }
    &::placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.subcribe-form__button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;

  padding: 10px 0;
  padding-left: 29px;

  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}

.subcribe-form__icon {
  margin-left: 10px;
  fill: #fff;

  transition: transform 250ms linear, fill 50ms linear;
}

.subcribe-form__button {
  &:hover .subcribe-form__icon,
  &:focus .subcribe-form__icon {
    transform: scale(1.1) translateY(-45%) translateX(40%);
  }
}
