.contacts-header__icon {
  @media screen and (min-width: 768px) {
    fill: #757575;
    margin-right: 10px;

    transition: fill 250ms var(--transition-timing-function);
  }

  .contacts-header__link:hover &,
  .contacts-header__link:focus & {
    @media screen and (min-width: 768px) {
      fill: var(--accent-color);
    }
  }
}
